.btn--group button{
    background-color: #fff;
    color: rgb(227, 61, 61);
}
.active{
    background-color: rgb(227, 61, 61);
    color: #fff;
}
.products-container .children.clear{
    opacity: 1;
   
}
.clear{
    opacity: 1;
}

.products-container .children{
    opacity: 0;
}
.card.hide{
    display: none;
}